:root {
    --light-background: white;
    --light-color: black;
    --dark-background: #444;
    --dark-color: white;
}
body {
    background-color: var(--light-background);
    color: var(--light-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}
.dark-mode {
    background-color: var(--dark-background);
    color: var(--dark-color);
}
.toggle-button {
    border-radius: 50px;
    border: 2px solid;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.day-button {
    border-color: blue;
}
.night-button {
    border-color: black;
}
  /* The side navigation menu */
  .sidebar {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    transition: 0.5s; 
    padding-top: 60px; 
}
.dark-mode .sidebar{
    background-color: #f1f1f1;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar-open {
    margin-left: 250px;
    transition: margin-left .5s;
}
#main {
    transition: margin-left .5s;
}
.openbtn{
    color: #818181;
    background: none;
    border: none;
    font-size: 30px;
    float: right;
    padding-top: 27px;
    padding-right: 20px;
}
.mode{
    float: right; 
    padding-right: 30px;
    padding-top: 20px;

}
/* for nav */
nav img{
    height: 100px;
    width: 100px;
    float: left;
    padding-left: 20px;
    margin-bottom: 100px;
}
nav{height: 100px;
    background-color: #d3d3d3;
}
nav, #main {
    position: relative; 
    transition: margin-left .5s;
}
.dark-mode nav{
    background-color: aliceblue;
}
#slider {
    width: 1100px;
    height: 600px;
}
/* cookie popup */
#cookiePopup {
    display: none;
    position: fixed;
    width: 500px;
    height: 500px;
    background-color:#444;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
     color:#fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 3s;
}